<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Pricing</h1>
			<p class="lead boxed ">Payment plans available.</p>
			<p class="lead">
                    While we do not offer refunds, your tuition is valid for one future session of the course you choose.
            </p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
<div class="container">

            <div class="row text-center plans">

                <div class="plan col-md-4">
                    <h2 class="plan-title">Private Lessons</h2>
                    <p class="plan-price">$99<span>/month</span></p>
                    <ul class="plan-features">
                        <li><strong>12 lessons</strong> included</li>
                        <li><strong>3 sessions</strong> per week</li>
                        <li><strong>1 month</strong> at a time</li>
                    </ul>
                    <p class=" col-md-8 col-md-offset-2 text-center"><a href="javascript:void(0)" class="button_medium">Register Now</a></p>
                </div> <!-- End col-md-4 -->

                <div class="plan plan-tall col-md-4">
                <span class="ribbon"></span>
                    <h2 class="plan-title">3-Month Part-Time Program</h2>
                    <p class="plan-price">$2,000<span></span></p>
                    <ul class="plan-features">
                    	<li><strong>Ruby on Rails</strong></li>
                        <li><strong>36 lessons</strong> included</li>
                        <li><strong>3 sessions</strong> per week</li>

                    </ul>
                    <p class=" col-md-8 col-md-offset-2 text-center"><a href="javascript:void(0)" class=" button_fullwidth">Register Now</a></p>
                </div><!-- End col-md-4 -->

                <div class="plan col-md-4">
                    <h2 class="plan-title">3-Month Full-Time Program</h2>
                    <p class="plan-price">$7,000<span></span></p>
                    <ul class="plan-features">
                    	<li><strong>Ruby on Rails</strong></li>
                        <li><strong>72 lessons</strong> included</li>
                        <li><strong>6 sessions</strong> per week</li>

                    </ul>
                    <p class=" col-md-8 col-md-offset-2 text-center"><a href="javascript:void(0)" class="button_medium">Register Now</a></p>
                </div><!-- End col-md-4 -->

            </div><!-- End row plans-->

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <h3>Coming Soon!</h3>
                </div>
            </div><!-- end row -->

            <div class="row" id="pricing_2">
                    <div class="col-md-3 col-sm-6">

                    <div class="pricing-table black ">
                        <div class="pricing-table-header">
                            <span class="heading">Python</span>
                            <span class="price-value"><span>$3,000</span><span class="mo"></span></span>
                        </div>
                        <div class="pricing-table-space "></div>
                        <div class="pricing-table-features">
                            <p><strong>Flask</strong></p>
                            <p><strong>Full Stack Training</strong></p>


                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table black">
                        <div class="pricing-table-header">
                            <span class="heading">iOS</span>
                            <span class="price-value"><span>$4,000</span><span class="mo"></span></span>
                        </div>
                        <div class="pricing-table-space "></div>
                        <div class="pricing-table-features">

                            <p><strong> Swift </strong></p>
                            <p><strong>Full Stack Training</strong> </p>

                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table black ">

                        <div class="pricing-table-header">
                            <span class="heading">MEAN Stack</span>
                            <span class="price-value"><span>$2,500</span><span class="mo"></span></span>

                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p><strong>MongoDB</strong></p>
                            <p><strong>ExpressJS </strong></p>
                            <p><strong>AngularJS</strong></p>
                            <p><strong>NodeJS</strong></p>
                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table black">
                        <div class="pricing-table-header">
                            <span class="heading">Android</span>
                            <span class="price-value"><span>$4,500</span><span class="mo"></span></span>
                        </div>
                        <div class="pricing-table-space "></div>
                        <div class="pricing-table-features">

                            <p><strong>Java </strong> </p>
                            <p><strong>Full Stack Training</strong></p>

                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->


            </div><!-- end row -->

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <h3>Student FAQ</h3>
                </div>
            </div><!-- end row -->

            <div class="row">

                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Do I need to have a technology background coming in?</h3>
                        <p>
                            Having a tech background helps, but is by no means required.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Are there discounts or scholarships available?</h3>
                        <p>
                            Yes we offer scholarships for under-represented minority groups in tech.

                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Will I get a job at the end of the program?</h3>
                        <p>
                           Big D Code does not guarantee job placement. We connect you directly with local tech employers and work with you on your portfolio and interview skills throughout the program.
                        </p>
                    </div>
                </div>

            </div><!-- end row -->

</div><!-- End container-->
</section>