<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Pricing</h1>
			<p class="lead boxed ">Options that fit your institutions size</p>
			<p class="lead">
                    We offer tiered annual subscription based pricing for universities, K-12, and all other educational institutions.
            </p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
<div class="container">

            <div class="row text-center plans">

                <div class="plan col-md-4">
                    <h2 class="plan-title">Large Private University</h2>
                    <p class="plan-price">$10,000<span>/annual</span></p>
                    <ul class="plan-features">
                        <li><strong>Professor Dashboard</strong> Included</li>
                        <li><strong>Analytics</strong> for professors</li>
                        <li><strong></strong></li>
                    </ul>
                    <p class=" col-md-8 col-md-offset-2 text-center"><a href="http://anonyq.socialengine.com/" class="button_medium">Sign up now</a></p>
                </div> <!-- End col-md-4 -->

                <div class="plan plan-tall col-md-4">
                <span class="ribbon"></span>
                    <h2 class="plan-title">Small Community College</h2>
                    <p class="plan-price">$1,000<span>/annual</span></p>
                    <ul class="plan-features">
                    	<li><strong></strong></li>
                        <li><strong></strong></li>
                        <li><strong></strong></li>

                    </ul>
                    <p class=" col-md-8 col-md-offset-2 text-center"><a href="http://anonyq.socialengine.com/" class=" button_fullwidth">Sign up now</a></p>
                </div><!-- End col-md-4 -->

                <div class="plan col-md-4">
                    <h2 class="plan-title">Midsize High School</h2>
                    <p class="plan-price">$3,000<span>/annual</span></p>
                    <ul class="plan-features">
                    	<li><strong></strong></li>
                        <li><strong></strong></li>
                        <li><strong></strong></li>

                    </ul>
                    <p class=" col-md-8 col-md-offset-2 text-center"><a href="javascript:void(0)" class="button_medium">Sign up for a free trial</a></p>
                </div><!-- End col-md-4 -->

            </div><!-- End row plans-->

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <h3>Coming Soon!</h3>
                </div>
            </div><!-- end row -->

            <div class="row" id="pricing_2">
                    <div class="col-md-3 col-sm-6">

                    <div class="pricing-table black ">
                        <div class="pricing-table-header">
                            <span class="heading"></span>
                            <span class="price-value"><span></span><span class="mo"></span></span>
                        </div>
                        <div class="pricing-table-space "></div>
                        <div class="pricing-table-features">
                            <p><strong></strong></p>
                            <p><strong></strong></p>


                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table black">
                        <div class="pricing-table-header">
                            <span class="heading"></span>
                            <span class="price-value"><span></span><span class="mo"></span></span>
                        </div>
                        <div class="pricing-table-space "></div>
                        <div class="pricing-table-features">

                            <p><strong> </strong></p>
                            <p><strong></strong> </p>

                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table black ">

                        <div class="pricing-table-header">
                            <span class="heading"></span>
                            <span class="price-value"><span></span><span class="mo"></span></span>

                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p><strong></strong></p>
                            <p><strong> </strong></p>
                            <p><strong></strong></p>
                            <p><strong></strong></p>
                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table black">
                        <div class="pricing-table-header">
                            <span class="heading"></span>
                            <span class="price-value"><span></span><span class="mo"></span></span>
                        </div>
                        <div class="pricing-table-space "></div>
                        <div class="pricing-table-features">

                            <p><strong> </strong> </p>
                            <p><strong></strong></p>

                        </div>

                        <div class="pricing-table-sign-up">
                            <a href="javascript:void(0)" class="button_fullwidth">COMING SOON</a>
                        </div>

                    </div><!-- End pricing-table-->
                </div><!-- End col-md-3 -->


            </div><!-- end row -->

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <h3>Student FAQ</h3>
                </div>
            </div><!-- end row -->

            <div class="row">

                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Is it really anonymous?</h3>
                        <p>
                            Yes.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Can I answer questions for other students</h3>
                        <p>
                            Yes.

                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="question_box">
                        <h3>Will be forced to use this?</h3>
                        <p>
                           No.
                        </p>
                    </div>
                </div>

            </div><!-- end row -->

</div><!-- End container-->
</section>