<section id="main_content" style="padding-bottom:0;">

<div class="container-fluid">
      <div class="row" style="margin-top:0;">
         <div class="col-md-9" style="padding-left:30px;padding-top:10px;padding-bottom:20px;">
     
                    <!--  Tabs -->   
                    <ul class="nav nav-tabs" id="mytabs">
                        <li class="active"><a href="#agenda" data-toggle="tab">My Agenda</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                         <div class="tab-pane in active fade" id="agenda">
                         
                             <div class="row">
                                  <aside class="col-md-4">
                                     <div class="box_style_1"  id="external-events">
                                        <h4>Draggable Events</h4>
                                            <div class='external-event'>Coffe Break</div>
                                            <div class='external-event'>Meeting</div>
                                            <div class='external-event'>Lesson</div>
                                            <div class='external-event'>Exam</div>
                                            <p><input type='checkbox' id='drop-remove' /><label for='drop-remove'>remove after drop</label></p>
                                     </div>
                                  </aside>
                                  
                                  <div class="col-md-8">
                                  <div id="calendar"></div><!-- End calendar --> 
                                  </div>
                                  
                             </div><!-- End row --> 
                        
                        </div><!-- End tab-pane --> 
            
         </div><!-- End col-md-8-->   
    </div><!-- End row-->   
</div><!-- End container -->
</section><!-- End main_content-->
