<%= form_for [:teacher, @course, @section], id:"contactform_apply" do |f| %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <%= f.text_field :title, class:"form-control style_2", id:"name_apply", placeholder:"Name" %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.number_field :position, class:"form-control ", id:"", placeholder:"Position" %>
            </div>
          </div>
        </div>
                                
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_area :description, class:"form-control", id:"message_apply_2", placeholder:"Summary of this new section", style:"height:150px;" %>
            </div>
          </div>
        </div>
                
                <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <!-- <input type="text" id="verify_apply" class=" form-control" placeholder="Are you human? 3 + 1 ="> -->
          </div>
        </div>
                <div class="col-md-6">
            <div class="form-group pull-right">
              <input type="submit" value="Submit" class=" button_subscribe_green" id="submit-apply"/>
          </div>
        </div>
                </div>
      <% end %>