<section id="main_content" >
<div class="container">
<div class="row">
    
  <div class="col-md-6 col-md-offset-2" style="padding-left:30px;padding-top:10px;padding-bottom:20px;">
    <div class=" box_style_2">
      <span class="tape"></span>
      <div class="row">
        <div class="col-md-12">
          <h3 style="text-align: center;">Add A Section: <br> <%= @course.name %></h3>
        </div>
      </div>
      <div id="message-apply"></div>
      <%= render partial: 'teacher/sections/form' %>
    </div>
  </div>
</div>
</div>
</section>
