<%= form_for [:teacher, @course], id:"contactform_apply" do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_field :name, class:"form-control style_2", id:"name_apply", placeholder:"Name" %>
                            <span class="input-icon"><i class="icon-user"></i></span>
            </div>
          </div>
        </div>
                
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_field :location, class:"form-control style_2", id:"lastname_apply", placeholder:"Location" %>
              <span class="input-icon"><i class="icon-user"></i></span>
            </div>
          </div>
        </div>
                                
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_area :summary, class:"form-control", id:"message_apply_2", placeholder:"Summary of your class", style:"height:150px;" %>
            </div>
          </div>
        </div>
                
                <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <!-- <input type="text" id="verify_apply" class=" form-control" placeholder="Are you human? 3 + 1 ="> -->
          </div>
        </div>
                <div class="col-md-6">
            <div class="form-group pull-right">
              <input type="submit" value="Submit" class=" button_subscribe_green" id="submit-apply"/>
          </div>
        </div>
                </div>
      <% end %>