
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STUDENT QUESTIONS PLATFORM</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/stylesheets/shared/bootstrap.min.css" rel="stylesheet">

    <!-- Temporary style here. Move to CSS later -->
    <style type="text/css">
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>

  </head>

  <body>
    <div class="container">
    <div class="starter-template">
        <h1 align="left">STUDENT</h1>
        <textarea rows="20" cols="160">Type your question</textarea>
        <BUTTON align = "left">SUBMIT</BUTTON>
        <p class="lead"> </p>
        <p></p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../assets/javascripts/shared/bootstrap.min.js"></script>
  </body>
</html>
