<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
 

    <div class="container">
      <div class="starter-template">
        <h1 align="left">TEACHER</h1>
        <Caption align="left"> 1 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 2 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 3 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 4 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 5 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 6 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 7 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 8 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 9 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <Caption align="left"> 10 </caption>
        <p><textarea rows="3" cols="160"></textarea></p>
        <p><BUTTON align = "left">END SESSION</BUTTON></p>
        <p class="lead"> </p>
        <p></p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../assets/javascripts/shared/bootstrap.min.js"></script>
  </body>
</html>
