<section id="join">
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs"><%= image_tag "theme/arrow_hand_1.png", alt:"Arrow" %> </div>
            <div class="col-md-8"><%= link_to "Start Learning", new_user_registration_path, class:"button_big" %></div>
          </div>
      </div>
    </div>
 </section>