 <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class='col-md-offset-2 col-md-8 text-center'>
                    <h2>What they say</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-offset-2 col-md-8'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <%= image_tag "theme/testimonial_1.jpg", alt:"", class:"img-circle" %>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                Big D Code was the best 12-weeks of my life!
                                            </p>
                                            <small>Future Student</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <%= image_tag "theme/testimonial_2.jpg", alt:"", class:"img-circle" %>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                The part-time program fit in really well with my work schedule and I would highly recommend the course to anyone who wants to become a web developer.
                                            </p>
                                            <small>Future Student</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <%= image_tag "theme/testimonial_1.jpg", alt:"", class:"img-circle" %>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                After going through Big D Code's full-time program, I got a job as a full stack software engineer and now I'm making 6 figures!
                                            </p>
                                            <small>Future Student</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </section><!-- End testimonials -->
